/*@mixin box-sizing($box-model) {
    box-sizing: $box-model;  
}
*/
body {
  background-color: #EEE8D6;
  color: white;
  font-size: 60px;
}

/*

html{


    @include box-sizing(border-box);
    
    }
    
    *,
    *:after
    *:before{
        @include box-sizing(inherit);
    
    }

*/
